body {
	background-color: #1e1f21;
	color: #d8dee9;
/*	background-color: #eceff4;
	color: #2e3440;*/
}

h1 {
	font-size: 50px;
	text-align: center;
}

p {
	font-size: 20px;
	text-align: left;
}

div {
	text-align: center;
	font-size: 40px;
}

br { 
    display: block; 
    margin-top: 0.3em; 
} 

a:link {
  color: #61afef;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #2dc997;
  background-color: transparent;
  text-decoration: none;
  font-size:150%;
}

#myHeader {
  font-size:50%;
  text-align: center;